.allReviewListItem-averageScore {
    text-align: center;
    margin: 1% 0;

}

.allReviewListItemMainContainer {
    border: 1px solid #cacaca;
    border-radius: 10px;
    padding: 0.4rem;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 2%;
}

.allReviewListItem-user-name {
    font-size: 0.9rem;
    font-weight: 600;
}

.allReviewListItemScoreGroup {
    display: flex;
    align-items: center;
    margin-top: 6px; /* 위쪽 간격 조절 */
    margin-bottom: 10px; /* 아래쪽 간격 조절 */
}

.allReviewListItemScoreNumber {
    font-size: 0.84rem;
    font-weight: 600;
    margin-left: 4px;
}

.allReviewListItemDay {
    padding-top: 2px; /* 왼쪽 리뷰 점수랑 높낮이 맞추기 */
    font-size: 0.7rem;
    width: 20%;
    margin-left: 10px;
    color: #747474;
}

.allReviewListItemReport {
    margin-left: auto;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    color: rgb(107, 107, 107);
    outline: none;
    background-color: white; 
    font-size: 0.7rem;
}

.allReviewListItemText {
    font-size: 0.84rem;
}